<!DOCTYPE html>
<html lang="en">

    <head prefix="og: http://ogp.me/ns#">
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="/favicon.ico">
        
        <link rel="stylesheet" href="startup/flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="startup/flat-ui/css/flat-ui.css">
        <!-- Using only with Flat-UI (free)-->
        <link rel="stylesheet" href="startup/common-files/css/icon-font.css">
        <!-- end -->
        <link rel="stylesheet" href="startup/common-files/css/animations.css">
        <link rel="stylesheet" href="static/css/style.css">

        <meta property="og:title" content="WearHacks- Innovation in Wearables and IoT">
        <meta property="og:locale" content="en_US">
        <meta property="og:image" content="http://www.wearhacks.com/images/shared.jpg">
        <meta property="og:image:type" content="image/jpeg">
        <meta name="description" content="Promoting innovation and entrepreneurship in Wearable Technology and Internet of Things around the globe.">
        <meta property="og:description" content="WearHacks promotes innovation and entrepreneurship in Wearable Technology and Internet of Things all over the world. We empower hackers* all over the world with tools, resources and connections, so they can build anything they can imagine - from a tweeting lamp to a Wearables startup.">
        <title>WearHacks- Innovation in Wearables and IoT</title>
    </head>

    <body data-spy="scroll" data-target="#navigationbar">
        <div class="page-wrapper">



 <header class="header-6" >
     <div class="container">
       <div class="row">
         <div class="navbar col-sm-12 navbar-fixed-top" role="navigation">
           <div class="navbar-header">
             <button type="button" class="navbar-toggle">
             </button> <a href="/" id="homebar" class="brand custom-img"> <span>WearHacks</span> </a>

             <div class="social-btns">
               <a class="social-holder" href="http://facebook.com/wearhacks">
               <div class="fui-facebook">
               </div>
               <div class="fui-facebook">
               </div>
                </a> <a class="social-holder" href="http://twitter.com/wearhacks">
               <div class="fui-twitter">
               </div>
               <div class="fui-twitter">
               </div>
             </a> <a class="social-holder" href="https://www.linkedin.com/company/3841229?trk=tyah&trkInfo=tarId%3A1416440868540%2Ctas%3Awearh%2Cidx%3A2-3-8">
               <div class="fui-linkedin">
               </div>
               <div class="fui-linkedin">
               </div>
                </a> <a class="social-holder" href="https://www.youtube.com/channel/UC2ptEc6sOrLmmivfPjWoIyA">
               <div class="fui-youtube">
               </div>
               <div class="fui-youtube">
               </div>
                </a>
             </div>
           </div>
              <div id="navigationbar" class="collapse navbar-collapse">
                    <ul class="nav" role="tablist">
                        <li><a href="#home">HOME</a></li>
                        <li><a href="#about">ABOUT US</a></li>
                        <li><a href="#events">EVENTS</a></li>
                        <li><a href="#pastevent">PAST EVENTS</a></li>
                        <li><a href="#partner">OUR PARTNERS</a></li>
                        <li><a href="#contact">CONTACT</a></li>
                    </ul>
                </div>

           
         </div>
       </div>
     </div>
   </header>

<section id="home"class="header-6-sub" style="background-color: #26374a">
   <div class="background" >
   </div>
  
   <div class="container">
     <div class="row">
       <div class="col-sm-8 col-sm-offset-2">
         <div class="row">
              <h1 class="logo"><a href="" class="logo-link"></a></h1> 
          </div>
         
         <div class="row">
           <p class="lead col-sm-10 col-sm-offset-1"> Promoting innovation and entrepreneurship in <strong>Wearable Technology and Internet of Things</strong> around the globe. </p>



         </div>
       </div>
     </div>
     
     <div class="row">

     <div class="col-sm-8 col-sm-offset-2">

              <div class=" signup-form">
              <p>Be the first to know all about WearHacks’ next events and get exclusive discounts</p>
                <form id="newsletterform" method="post" action="/s">
                  <div class="clearfix">
                    
                    <input type="text" class="form-control" name="email" placeholder="Enter your email">
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                  </div>
                </form>
              </div>

       </div>

     </div>
     
    
   </div>
 </section>
 

 <section id="about" class="content-15 v-center">
    
    <div>
        <div class="container">
            
            <div class="row">
                <h3 class="col-sm-8 col-sm-offset-2">WearHacks is an international non-profit organization and the largest <strong>connected and wearable</strong> technology community.
               
                </h3>

            </div>
            <div class="row">
                <div class="col-sm-6">
                      <h4>Who we are</h4>
                      <p>WearHacks is an international non-profit organization headquartered in Montreal, 
focused on  the promotion of innovation and entrepreneurship in Wearable Technology and Internet of Things 
all over the world. 
</p>
          </div>
           <div class="col-sm-6">
                     <h4>What we do</h4>
                    <p>
                      We empower hackers* all over the world with tools, resources and a network by organizing events and giving innovators access to the latest technologies, so that they can build anything they can imagine - from a tweeting lamp to a Wearables startup.
                       <br>


                        <small>*hackers = student, developer, engineer, entrepreneur, designer, inventor, etc.</small>

                    </p>
                </div>
                

            </div>

        </div>
    </div>
</section>
<footer id="team" class="footer-4 bg-midnight-blue">
        <div class="container">
          <a class="brand" data-toggle="modal" data-target=".bs-example-modal-lg" href="#">Our Amazing Team &nbsp; <span class="glyphicon glyphicon-new-window"></span></a>
        </div>
</footer>
 <section id="ourevents" class="header-10-sub v-center dm-controlsView-holder" style="background-color: #1b1f23">
   <div class="background" data-stellar-background-ratio="0.1" style="background-image: url(/images/hack_montreal.jpg);background-attachment:fixed; backopacity: 0.19;">
     &nbsp;
   </div>
   <div>
     <div class="container">
       <div class="hero-unit">
         <h1>WearHacks Hackathons</h1>
         <p>WearHacks Hackathons bring together developers, designers, project managers, students, and engineers with an entrepreneurial and creative mind. For an intensive 48 hours, they will learn new tools, meet industry experts, collaborate with other talented students and young professionals and build new wearable and connected technology.&nbsp;</p>
       </div>
       <div class="unique">
        <ul>
          <li>
            <div class="uniqueIcon" style="background-image:url(images/iot.png);"></div>
            <h5>Wearables & IoT</h5>
            <p>Focus on wearables and Internet of Things, we feature the latest technology available. </p>
          </li>
          <li>
            <div class="uniqueIcon" style="background-image:url(images/people.png);"></div>
            <h5>All backgrounds</h5>
            <p>We gather all kind of innovators and industry experts, not only developers (e.g: engineers, designers, neuroscientists, etc)  </p>
          </li>
          <li>
            <div class="uniqueIcon" style="background-image:url(images/ref.png);"></div>
            <h5>Hackathon, just the beginning</h5>
            <p>We follow-up with the teams and help & promote the best projects. We organize demos, talks, etc. 
            </p>
          </li>
          <li>
          <div class="uniqueIcon" style="background-image:url(images/world.png);"></div>
            <h5>International</h5>
            <p>
               We are already organizing events in Canada, Europe and the US. 
            </p>

          </li>
        </ul>
        <div class="clearfix"></div>
       </div>
     </div>
   </div>
    <a class="control-btn fui-arrow-down" href="#events"></a>
 </section>

<section class="projects-4" id="events">
        <div class="container">
          <h3>Stay tuned for<br> our upcoming Hackathons.</h3>
         
        <%= include partials/events.ejs %>

           <div class=" ambassador col-sm-8 col-sm-offset-2"><h6>Join WearHacks, become a <strong>WearHacks Ambassador</strong>. <br>
            Bring WearHacks to your city. Help us seed innovation around the world. </h6>
            <hr>

            <div class="row" ><a class="typeform-share link btnAmb" href="/ambassador-signup" data-mode="1" target="_blank">Become an Ambassador</a></div>
<!---->

          </div>
           


      </div>
  </section>


    </div>
    <!--/.container-->
</section>

<section id="pastevent">
      
          <h4 class="header">Past Events</h4>
         <div class="container">

        <div class="event-montreal">
          
            <div class="title text-center col-sm-5">
            <a href="http://montreal.wearhacks.com">
                    <h4 class="light-bg-link">WearHacks Montreal 2014</h4>
               </a>
                    <p>
                      The <strong>Biggest Wearable</strong> Hackathon <br> in North-America
                    </p>
                    
             
            </div>
            <div class=" col-sm-7">
            <div class="stats">
                <div class="data"><div class="circle bg-wolf-blue">250+</div> Hackers</div>
                <div class="data"><div class="circle bg-wolf-blue">47</div> Projects</div>
                <div class="data"><div class="circle bg-wolf-blue">100+</div> Cutting-Edge <br> Wearables
                </div>
                <div class="data"><div class="circle bg-wolf-blue">30+</div> Industry Experts</div>
                <div class="clearfix visible-xs-block"></div>
                </div>
            </div>
               
            <div class="description text-center col-sm-8 col-sm-offset-2">
            <p>
            The most creative projects were featured afterwards on different innovation and tech events such as: <strong>WWTO (Toronto), MTL NewTech, and Google Montreal</strong>. Some of the winners are being mentored by <strong>Founder Fuel and Real Ventures</strong>. </p>
            </div>

            <div class="mediasection col-sm-8 col-sm-offset-2">
              <ul class="medias">  
                  <li>

                        <a target="_blank" href="http://www.cbc.ca/player/News/ID/2534355181/">
                        <div class="mediabox">
                          <div class="mediaoverlay">
                         <p>CBC Coverage 
                          <span class="glyphicon glyphicon-new-window"></span></p>
                        
                        </div>
                        </div>
                        
                       
                        </a>
                  </li>
                  <li>
                      <a target="_blank" href="http://www.cbc.ca/player/Radio/Local+Shows/Quebec/ID/2533111783/">
                        <div class="mediabox" style="background-image:url(images/radio.jpg)">
                          <div class="mediaoverlay">
                         <p>CBC Radio Coverage <span class="glyphicon glyphicon-new-window"></span></p>
                        </div>
                        </div>
                        
                      </a>
                  </li>
                  <li>
                      <a target="_blank" href="http://www.techvibes.com/blog/wearhacks-2014-09-30">
                        <div class="mediabox" style="background-image:url(images/techvibes.jpg); background-size: contain;">
                          <div class="mediaoverlay">
                          <p> TechVibes Article 
                          <span class="glyphicon glyphicon-new-window"></span></p>
                        
                        </div>
                        </div>
                         
                      </a>
                  </li>
                  <li>
                      <a target="_blank" href="https://www.youtube.com/watch?v=SbRWBkleReE">
                        <div class="mediabox" style="background-image:url(images/wearewearables.jpg);">
                          <div class="mediaoverlay">
                           <p>WeAreWearables <br> Interview  
                          <span class="glyphicon glyphicon-new-window"></span></p>
                        </div>
                        </div>

                      </a>
                  </li>
                  <div class="clearfix visible-xs-block"></div>
              </ul>            
            </div>
         
             <div class=" clearfix visible-xs-block"></div>
        </div>
        </div>
</section>


<section id="partner" >
 <div class="row"> 
  <div class="col-sm-4 col-sm-offset-4 main-title" >
    <h3>Our Partners</h3>
  </div> 
  </div>
  <div class="container">

  <div class="row"> <div class="col-sm-10 col-sm-offset-1"><%= include partials/sponsors.ejs %></div> 
  </div>
  <div class="col-sm-4 col-sm-offset-4 main-title" >
    <h3>Our Global Partners</h3>
  </div> 
  <div class="row"> <div class="col-sm-10 col-sm-offset-1"><%= include partials/globalpartners.ejs %></div> 
  </div>  
  </div>
</section>

<hr>
<section>
<div class="container">

</div>
</section>
<section class="content-13 subscribe-form bg-wolf-blue" >
        
        <div class="container">

          <div class="row">
            <form id="newsletterform2" method="post" action="/s">
              <div class="col-sm-8">
                <input type="text" placeholder="Enter your email" name="email" spellcheck="false">
              </div>
              <div class="col-sm-4">
                <button class="btn btn-large btn-inverse" type="submit">
                  Sign Up
                </button>
              </div>
            </form>
          </div>
        </div>
      </section>
<footer id="contact"  class="footer-7 ">
    <div  class="container">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4 ">
            <p><strong>Get in touch!</strong></p>
	    <p>Sponsorship: <a href="mailto:shehaaz@wearhacks.com">shehaaz@wearhacks.com</a></p>
	    <p>Media Enquiries: <a href="mailto:gisele@wearhacks.com">gisele@wearhacks.com</a></p> 
            <p>General Enquiries: <a href="mailto:info@wearhacks.com">info@wearhacks.com</a></p>
            
          </div>
         
</div>
<div class="row">
        <div class="col-sm-12">
            <h6>Follow us on <a href="http://facebook.com/wearhacks" >Facebook</a>, <a href="http://twitter.com/wearhacks">Twitter</a> and <a href="https://www.linkedin.com/company/3841229?trk=tyah&trkInfo=tarId%3A1416440868540%2Ctas%3Awearh%2Cidx%3A2-3-8" >LinkedIn</a> to stay up to date with our events.</h6>
             <nav>
            <ul>
                <li class="scroll-btn"><a href="#home" class="scroll-top fui-arrow-up"> </a></li>
            </ul>
        </nav>
          </div>
            <!--
            <div class="social-btns">
               <a class="social-holder" href="http://facebook.com/wearhacks">
               <div class="fui-facebook">
               </div>
               <div class="fui-facebook">
               </div>
                </a> <a class="social-holder" href="http://twitter.com/wearhacks">
               <div class="fui-twitter">
               </div>
               <div class="fui-twitter">
               </div>
             </a> <a class="social-holder" href="https://www.linkedin.com/company/3841229?trk=tyah&trkInfo=tarId%3A1416440868540%2Ctas%3Awearh%2Cidx%3A2-3-8">
               <div class="fui-linkedin">
               </div>
               <div class="fui-linkedin">
               </div>
                </a>
                <a class="social-holder" href="https://www.youtube.com/channel/UC2ptEc6sOrLmmivfPjWoIyA">
               <div class="fui-youtube">
               </div>
               <div class="fui-youtube">
               </div>
                </a>
             </div>
        </div>-->
       
          
             
    </div>
</footer>            <!-- Placed at the end of the document so the pages load faster -->

            <%= include analytics.ejs %>
            <script src="startup/common-files/js/jquery-1.10.2.min.js"></script>
            <script src="startup/common-files/js/jquery.bxslider.min.js"></script>
            <script src="startup/common-files/js/jquery.scrollTo-1.4.3.1-min.js"></script>
            <script src="startup/common-files/js/jquery.sharrre.min.js"></script>
            <script src="startup/flat-ui/js/bootstrap.min.js"></script>
            <script src="startup/common-files/js/masonry.pkgd.min.js"></script>
            <script src="startup/common-files/js/modernizr.custom.js"></script>
            <script src="startup/common-files/js/page-transitions.js"></script>
            <script src="startup/common-files/js/easing.min.js"></script>
            <script src="startup/common-files/js/jquery.svg.js"></script>
            <script src="startup/common-files/js/jquery.svganim.js"></script>
            <script src="startup/common-files/js/jquery.backgroundvideo.min.js"></script>
            <script src="startup/common-files/js/froogaloop.min.js"></script>
            <script src="startup/common-files/js/startup-kit.js"></script>
	          <script src="startup/common-files/js/stellar.js"></script>
            <script src="js/custom.js"></script>

<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>


       
</div>
<% include partials/team.ejs %>
<!--Modal Interview-->

<div class="modal fade interviewmodal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
         
      <!--<%= include partials/cbcvideo.ejs %>-->
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal fault -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog customModal">
    <div class="modal-content">
      <div class="modal-header">
        <span class="fui-cross"></span>
        <h6 class="modal-title" id="myModalLabel">Please enter a valid email!</h6>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-lg btn-danger"  data-dismiss="modal">Oops, my bad!</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal success -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog customModal">
    <div class="modal-content">
      <div class="modal-header">
        <span class="fui-check"></span>
        <h6 class="modal-title" id="myModalLabel"></h6>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-lg btn-primary"  data-dismiss="modal">Oops, my bad!</button>
      </div>
    </div>
  </div>
</div>
    </body>
</html>
