<!DOCTYPE html>
<html lang="en">

    <head prefix="og: http://ogp.me/ns#">
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="/favicon.ico">
        
        <link rel="stylesheet" href="startup/flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="startup/flat-ui/css/flat-ui.css">
        <!-- Using only with Flat-UI (free)-->
        <link rel="stylesheet" href="startup/common-files/css/icon-font.css">
        <!-- end -->
        <link rel="stylesheet" href="startup/common-files/css/jquery.bxslider.css">
        <link rel="stylesheet" href="startup/common-files/css/animations.css">
        <link rel="stylesheet" href="static/css/style.css">

        <meta property="og:title" content="WearHacks: Innovation in Wearables and IoT">
        <meta property="og:locale" content="en_US">
        <meta property="og:image" content="http://www.wearhacks.com/images/shared.jpg">
        <meta property="og:image:type" content="image/jpeg">
        <meta name="description" content="Promoting innovation and entrepreneurship in Wearable Technology and Internet of Things around the globe.">
        <meta property="og:description" content="WearHacks promotes innovation and entrepreneurship in Wearable Technology and Internet of Things all over the world. We empower hackers* all over the world with tools, resources and connections, so they can build anything they can imagine - from a tweeting lamp to a Wearables startup.">
        <title>WearHacks- Innovation in Wearables and IoT</title>
    </head>

   <body data-spy="scroll" data-target="#navigationbar">
      <div class="page-wrapper">

 <header class="header-6" >
     <div class="container">
       <div class="row">
         <div class="navbar col-sm-12 navbar-fixed-top" role="navigation">
           <div class="navbar-header">
             <button type="button" class="navbar-toggle">
             </button> 
              <a class="branda" href="#">
                  <img src="images/horizontallogo.png" width="120px" alt="" style="margin-top: 5px;"></a>

             <div class="social-btns">
               <a class="social-holder" href="http://facebook.com/wearhacks">
               <div class="fui-facebook">
               </div>
               <div class="fui-facebook">
               </div>
                </a> <a class="social-holder" href="http://twitter.com/wearhacks">
               <div class="fui-twitter">
               </div>
               <div class="fui-twitter">
               </div>
             </a> <a class="social-holder" href="https://www.linkedin.com/company/3841229?trk=tyah&trkInfo=tarId%3A1416440868540%2Ctas%3Awearh%2Cidx%3A2-3-8">
               <div class="fui-linkedin">
               </div>
               <div class="fui-linkedin">
               </div>
                </a> <a class="social-holder" href="https://www.youtube.com/channel/UC2ptEc6sOrLmmivfPjWoIyA">
               <div class="fui-youtube">
               </div>
               <div class="fui-youtube">
               </div>
                </a>
             </div>
           </div>
              <div id="navigationbar" class="collapse navbar-collapse">
                    <ul class="nav" role="tablist">
                        <li><a href="#home">HOME</a></li>
                        <li><a href="#about">ABOUT US</a></li>
                        <li><a href="#events">EVENTS</a></li>
                        <li><a href="#pastevent">PAST EVENTS</a></li>
                        <li><a href="#partner">OUR PARTNERS</a></li>
                        <li><a href="#contact">CONTACT</a></li>
                    </ul>
                </div>

           
         </div>
       </div>
     </div>
   </header>

<section id="home"class="header-6-sub" >
   <div class="backgroundsplash" >
   </div>
  
   <div class="container">
     <div class="row">
       <div class="col-sm-8 col-sm-offset-2">
         <div class="row">
              <h1 class="logo"><a href="" class="logo-link"></a></h1> 
          </div>
         
         <div class="row">
           <p class="lead col-sm-10 col-sm-offset-1"> Promoting innovation and entrepreneurship <br/> in Wearable Technology and Internet of Things around the globe. </p>



         </div>
       </div>
     </div>
     
     <div class="row">

     <div class="col-sm-8 col-sm-offset-2">

              <div class="header-6 signup-form">
              <!--<p>Be the first to know all about WearHacks’ next events and get exclusive discounts</p>-->
                <form id="newsletterform" method="post" action="/s">
                  <div class="clearfix">
                    
                    <input type="text" class="form-control" name="email" placeholder="Enter your email">
                    <button type="submit" class="btn btn-wearhacks">Sign Up</button>
                  </div>
                </form>
              </div>

       </div>

     </div>
     
      
   </div>
   <div class="container"><div class="row"><span class="scroll-btn"><a href="#about">
    <span class="mouse"><span> </span></span> </a></span></div></div>
 </section>
 

 <section id="about" class="content-15 v-center">
    
    
        <div class="container">
            <h4 class="wearhacks-header col-sm-2 col-sm-offset-5">About Us</h4>
            <div class="row">
                <h5 class="col-sm-6 col-sm-offset-3">WearHacks is an international non-profit organization and the largest <strong>connected and wearable</strong> technology community.
               
                </h5>

            </div>
            <div class="seperator col-sm-6 col-sm-offset-3"></div>
            <div class="row">
                <div class="col-sm-6">
                      <h4 class ="wearhacks-header col-sm-6 col-sm-offset-3" >Who we are</h4>
                      <h6 class ="col-sm-8 col-sm-offset-2">
                        WearHacks is an international non-profit organization headquartered in Montreal, 
                        focused on  the promotion of innovation and entrepreneurship in Wearable Technology and Internet of Things 
                        all over the world. 
                        </h6>
                </div>
          
           <div class="col-sm-6">
                     <h4 class="wearhacks-header col-sm-6 col-sm-offset-3">What we do</h4>
                    <h6 class ="col-sm-8 col-sm-offset-2">
                      We empower hackers* all over the world with tools, resources and a network by organizing events and giving innovators access to the latest technologies, so that they can build anything they can imagine - from a tweeting lamp to a Wearables startup.
                       <br>


                       

                    </h6>
                  </div>
                </div>
                 <div class="col-sm-6 col-sm-offset-4">
                 <small>*hackers = student, developer, engineer, entrepreneur, designer, inventor, etc.</small>

                </div>

        </div>
</section>

<section id="team" class="bg-splash">
        <div class="container">
          <h4 class="wearhacks-header col-sm-2 col-sm-offset-5" >Our  Team</h4>
          <div class="row col-sm-6 col-sm-offset-3">
              <h2>The people who make this possible</h2>
          </div>
          <div class="row col-sm-10 col-sm-offset-1">
          <div id="teamslider">
              <div class="page-1" >
                <div class="members col-sm-8 col-sm-offset-2">
                <div class="member">
                              <div class="photo-wrapper">
                                <div class="photo" style="background-image: url(/images/ari.jpeg); ">
                                  
                                </div>
                                <div class="name">Ari Ramdial <div class="position">Co-founder</div></div>
                                
                              </div>
                              <div class="info">
                                
                                <div class="social-btns">
                                  <a href="https://ca.linkedin.com/in/ariramdial">
                                    <div class="fui-linkedin"></div>
                                    <div class="fui-linkedin"></div>
                                  </a>
                                  <a href="https://www.facebook.com/ariramdial">
                                    <div class="fui-facebook"></div>
                                    <div class="fui-facebook"></div>
                                  </a>
                                  <a href="https://twitter.com/ariramdial">
                                    <div class="fui-twitter"></div>
                                    <div class="fui-twitter"></div>
                                  </a>
                                  <a href="https://github.com/turbosnail9/">
                                    <div class="fui-github"></div>
                                    <div class="fui-github"></div>
                                  </a>
                                </div>
                                <div class="clearfix"></div>
                              </div>
                    </div>

                    <div class="member">
                              <div class="photo-wrapper">
                                <div class="photo" style="background-image: url(/images/shehaaz.jpeg); ">
                                  
                                </div>
                                <div class="name">Shehaaz Saif <div class="position">Co-founder</div></div>
                                
                              </div>
                              <div class="info">
                                
                                <div class="social-btns">
                                  <a href="https://www.linkedin.com/in/shehaazsaif">
                                    <div class="fui-linkedin"></div>
                                    <div class="fui-linkedin"></div>
                                  </a>
                                  <a href="https://www.facebook.com/shehaz.saif">
                                    <div class="fui-facebook"></div>
                                    <div class="fui-facebook"></div>
                                  </a>
                                  <a href="https://twitter.com/Shehaaz">
                                    <div class="fui-twitter"></div>
                                    <div class="fui-twitter"></div>
                                  </a>
                                  <a href="https://github.com/shehaaz">
                                    <div class="fui-github"></div>
                                    <div class="fui-github"></div>
                                  </a>
                                </div>
                              </div>
                            </div>
                            <div class="clearfix"></div>
                       </div>  
              </div>
              <div class="page-2" >
                          <div class="member">
                          <div class="photo-wrapper">
                            <div class="photo" style="background-image: url(/images/ellie.jpeg); ">
                              
                            </div>
                            <div class="name">Elizabeth Flannery</div>
                            <div class="position">Director: Fund Development</div>
                          </div>
                          <div class="info">
                            
                            <div class="social-btns">
                              <a href="https://www.linkedin.com/in/ellieflannery">
                                <div class="fui-linkedin"></div>
                                <div class="fui-linkedin"></div>
                              </a>
                              <a href="https://www.facebook.com/elizabeth.flannery/">
                                <div class="fui-facebook"></div>
                                <div class="fui-facebook"></div>
                              </a>
                              <a href="https://twitter.com/EKFlannery">
                                <div class="fui-twitter"></div>
                                <div class="fui-twitter"></div>
                              </a>
                              <a href="https://github.com/eflannery">
                                <div class="fui-github"></div>
                                <div class="fui-github"></div>
                              </a>
                            </div>
                          </div>
                        </div>
                          <div class="member">
                              <div class="photo-wrapper">
                                <div class="photo" style="background-image: url(/images/gisele.jpeg); ">
                                  
                                </div>
                                <div class="name">Gisele I. Karekezi <div class="position">Director: Public Relations</div></div>
                                
                              </div>
                              <div class="info">
                                
                                <div class="social-btns">
                                  <a href="https://www.linkedin.com/pub/gisele-i-karekezi/89/3a7/a32">
                                    <div class="fui-linkedin"></div>
                                    <div class="fui-linkedin"></div>
                                  </a>
                                  <a href="https://www.facebook.com/gisele.karekezi">
                                    <div class="fui-facebook"></div>
                                    <div class="fui-facebook"></div>
                                  </a>
                                  <a href="https://twitter.com/GiseleIKarekezi">
                                    <div class="fui-twitter"></div>
                                    <div class="fui-twitter"></div>
                                  </a>
                                </div>
                              </div>
                            </div>  
                            <div class="member">
                          <div class="photo-wrapper">
                            <div class="photo" style="background-image: url(/images/griselda.jpg); ">
                              
                            </div>
                            <div class="name">Griselda Pages
                                <div class="position">Marketing Director</div>
                            </div>
                            
                          </div>
                          <div class="info">
                            
                            <div class="social-btns">
                              <a href="https://www.linkedin.com/in/pagesruizgriselda/en">
                                <div class="fui-linkedin"></div>
                                <div class="fui-linkedin"></div>
                              </a>
                              <a href="https://www.facebook.com/profile.php?id=100006373146146&fref=ts">
                                <div class="fui-facebook"></div>
                                <div class="fui-facebook"></div>
                              </a>
                              <a href="https://twitter.com/griselda_pages">
                                <div class="fui-twitter"></div>
                                <div class="fui-twitter"></div>
                              </a>
                            </div>
                          </div>
                        </div>

                       
                         <div class="member">
                        <div class="photo-wrapper">
                          <div class="photo" style="background-image: url(/images/alex.png); ">
                            
                          </div>
                          <div class="name">Alexandra Lutchman<div class="position">Operations & Logistics</div></div>
                          
                        </div>
                        <div class="info">
                          
                          <div class="social-btns">
                            <a href="https://www.linkedin.com/in/alexandrarlutchman">
                              <div class="fui-linkedin"></div>
                              <div class="fui-linkedin"></div>
                            </a>
                            <a href="https://www.facebook.com/lexii.rene">
                              <div class="fui-facebook"></div>
                              <div class="fui-facebook"></div>
                            </a>
                            <a href="https://twitter.com/LexiiRene">
                              <div class="fui-twitter"></div>
                              <div class="fui-twitter"></div>
                            </a>
                          </div>
                        </div>
                      </div>
                     

                </div>
                <div class="page-3"> <div class="member">
                          <div class="photo-wrapper">
                            <div class="photo" style="background-image: url(/images/nadim.jpg);">
                              
                            </div>
                            <div class="name">Nadim Islam<div class="position">Technical Director</div></div>
                            
                          </div>
                          <div class="info">
                            
                            <div class="social-btns">
                              <a href="https://www.linkedin.com/pub/nadim-islam/24/864/17a">
                                <div class="fui-linkedin"></div>
                                <div class="fui-linkedin"></div>
                              </a>
                              <a href="https://www.facebook.com/isl.nadim">
                                <div class="fui-facebook"></div>
                                <div class="fui-facebook"></div>
                              </a>
                              <a href="https://twitter.com/nadimisl">
                                <div class="fui-twitter"></div>
                                <div class="fui-twitter"></div>
                              </a>
                              <a href="https://github.com/nadbm/">
                                <div class="fui-github"></div>
                                <div class="fui-github"></div>
                              </a>
                            </div>
                          </div>
                        </div>
                      <div class="member">
                        <div class="photo-wrapper">
                          <div class="photo" style="background-image: url(/images/dan.jpg); background-size: 130px">
                            
                          </div>
                          <div class="name">Daniel Chaulk<div class="position">Lead Designer</div></div>
                          
                        </div>
                        <div class="info">
                          
                          <div class="social-btns">
                            <a href="https://www.linkedin.com/pub/daniel-chaulk/63/790/606">
                              <div class="fui-linkedin"></div>
                              <div class="fui-linkedin"></div>
                            </a>
                            <a href="https://www.facebook.com/Chaulk.Norris?fref=ts">
                              <div class="fui-facebook"></div>
                              <div class="fui-facebook"></div>
                            </a>
                           
                          </div>
                        </div>
                      </div>
                        <div class="member">
                        <div class="photo-wrapper">
                          <div class="photo" style="background-image: url(/images/usman.jpg); ">
                            
                          </div>
                          <div class="name">Usman Ehtesham<div class="position">Director: Harware Sponsorship & WearHacks: Special Projects</div></div>
                          
                        </div>
                        <div class="info">
                          
                          <div class="social-btns">
                            <a href="https://www.linkedin.com/pub/usman-ehtesham-gul/18/134/950">
                              <div class="fui-linkedin"></div>
                              <div class="fui-linkedin"></div>
                            </a>
                            <a href="https://www.facebook.com/usman.ehtesham">
                              <div class="fui-facebook"></div>
                              <div class="fui-facebook"></div>
                            </a>
                            <a href="https://twitter.com/uegul">
                              <div class="fui-twitter"></div>
                              <div class="fui-twitter"></div>
                            </a>
                            <a href="https://github.com/ueg1990">
                              <div class="fui-github"></div>
                              <div class="fui-github"></div>
                            </a>
                          </div>
                        </div>
                      </div>
                       <div class="member">
                        <div class="photo-wrapper">
                          <div class="photo" style="background-image: url(/images/tian.png); background-size: 200px 200px;">
                            
                          </div>
                          <div class="name">Tian Xiao<div class="position">Director of Finance</div></div>
                          
                        </div>
                        <div class="info">
                          
                          <div class="social-btns">
                            <!-- <a href="">
                              <div class="fui-linkedin"></div>
                              <div class="fui-linkedin"></div>
                            </a> -->
                            <a href="https://www.facebook.com/tianyuxiao">
                              <div class="fui-facebook"></div>
                              <div class="fui-facebook"></div>
                            </a>
                            <!-- <a href="">
                              <div class="fui-twitter"></div>
                              <div class="fui-twitter"></div>
                            </a> -->
                          </div>
                        </div>
                      </div>
                    
                      
                      </div>
              </div>
          </div>
          </div>
</section>

 
 <section id="ourevents" class="header-10-sub v-center dm-controlsView-holder" style="background-color: #1b1f23">
   <div class="background" data-stellar-background-ratio="0.1" style="background-image: url(/images/hack_montreal.jpg);background-attachment:fixed; backopacity: 0.19;z-index:1">
     &nbsp;
   </div>
  
     <div class="container">
       <div class="col-sm-8 col-sm-offset-2">
         <h2 class="wearhacks-header col-sm-6 col-sm-offset-3">WearHacks Hackathons</h2>
         <h6 class="maindesc col-sm-12"> WearHacks Hackathons bring together developers, designers, project managers, students, and engineers with an entrepreneurial and creative mind. For an intensive 48 hours, they will learn new tools, meet industry experts, collaborate with other talented students and young professionals and build new wearable and connected technology.&nbsp;
         </h6>
       </div>
       <div class="unique col-sm-8 col-sm-offset-2">
        <ul>
          <li>
            <div class="uniqueIcon" style="background-image:url(images/iot.png);"></div>
            <h5>Wearables & IoT</h5>
            <div class="smallsep"></div>
            <p>Focus on wearables and Internet of Things, we feature the latest technology available. </p>
          </li>
          <li>
            <div class="uniqueIcon" style="background-image:url(images/people.png);"></div>
            <h5>All backgrounds</h5>
            <div class="smallsep"></div>
            <p>We gather all kind of innovators and industry experts, not only developers (e.g: engineers, designers, neuroscientists, etc)  </p>
          </li>
          <li>
            <div class="uniqueIcon" style="background-image:url(images/ref.png);"></div>
            <h5>WearHacks Experience</h5>
            <div class="smallsep"></div>
            <p>We follow-up with the teams and help & promote the best projects. We organize demos, talks, etc. 
            </p>
          </li>
          <li>
          <div class="uniqueIcon" style="background-image:url(images/world.png);"></div>
            <h5>International Presence</h5>
            <div class="smallsep"></div>
            <p>
               We are already organizing events in Canada, Europe and the US. 
            </p>

          </li>
        </ul>
        <div class="clearfix"></div>
       </div>
     </div>
   
    <a class="control-btn fui-arrow-down" href="#events"></a>
 </section>
 <section class="projects-4" id="events">
        <div class="container">
          <div class="row" style="padding-bottom:2rem">
          <h4 class="wearhacks-header col-sm-4 col-sm-offset-4">Upcoming Hackathons</h4>
          </div>
         <div class="row">
        <%= include partials/events.ejs %>
          </div>
           <div class=" ambassador col-sm-8 col-sm-offset-2"><h6>Join WearHacks, become a <strong>WearHacks Ambassador</strong>. <br>
            Bring WearHacks to your city. Help us seed innovation around the world. </h6>
            <hr>

            <!-- <div class="row" ><a class="typeform-share link btnAmb" href="/ambassador-signup" data-mode="1" target="_blank">Become an Ambassador</a></div> -->

            <div class="row" ><a class="typeform-share link btnAmb" href="https://wearhacks.typeform.com/to/JatTbd" data-mode="1" target="_blank">Become an Ambassador</a></div>

          </div>
           


      </div>
</section>



<section id="pastevent">
      
          
         <div class="container">

        <div class="event-montreal">
          
            <div class="title text-center col-sm-6 col-sm-offset-3">
            <a href="http://montreal.wearhacks.com">
                    <h4 class="wearhacks-header">WearHacks Montreal 2014 <span class="glyphicon glyphicon-new-window"></span></h4>
               </a>
                    <p>
                      The <strong>Biggest Wearable</strong> Hackathon <br> in North-America
                    </p>
                    
             
            </div>
            <div class=" col-sm-6 col-sm-offset-3">
            <div class="stats">
                <div class="data"><div class="circle bg-wolf-blue">250+</div> Hackers</div>
                <div class="data"><div class="circle bg-wolf-blue">47</div> Projects</div>
                <div class="data"><div class="circle bg-wolf-blue">100+</div> Cutting-Edge <br> Wearables
                </div>
                <div class="data"><div class="circle bg-wolf-blue">30+</div> Industry Experts</div>
                <div class="clearfix visible-xs-block"></div>
                </div>
            </div>
               
            <div class="description text-center col-sm-6 col-sm-offset-3">
            <p>
            The most creative projects were featured afterwards on different innovation and tech events such as: <strong>WWTO (Toronto), MTL NewTech, and Google Montreal</strong>. Some of the winners are being mentored by <strong>Founder Fuel and Real Ventures
            </strong>. </p>
            </div>

            <div class="mediasection col-sm-8 col-sm-offset-2">
              <ul class="medias">  
                  <li>

                        <a target="_blank" href="http://www.cbc.ca/player/News/ID/2534355181/">
                        <div class="mediabox">
                          <div class="mediaoverlay">
                         <p>CBC Coverage 
                          <span class="glyphicon glyphicon-new-window"></span></p>
                        
                        </div>
                        </div>
                        
                       
                        </a>
                  </li>
                  <li>
                      <a target="_blank" href="http://www.cbc.ca/player/Radio/Local+Shows/Quebec/ID/2533111783/">
                        <div class="mediabox" style="background-image:url(images/radio.jpg)">
                          <div class="mediaoverlay">
                         <p>CBC Radio Coverage <span class="glyphicon glyphicon-new-window"></span></p>
                        </div>
                        </div>
                        
                      </a>
                  </li>
                  <li>
                      <a target="_blank" href="http://www.techvibes.com/blog/wearhacks-2014-09-30">
                        <div class="mediabox" style="background-image:url(images/techvibes.jpg); background-size: contain;">
                          <div class="mediaoverlay">
                          <p> TechVibes Article 
                          <span class="glyphicon glyphicon-new-window"></span></p>
                        
                        </div>
                        </div>
                         
                      </a>
                  </li>
                  <li>
                      <a target="_blank" href="https://www.youtube.com/watch?v=SbRWBkleReE">
                        <div class="mediabox" style="background-image:url(images/wearewearables.jpg);">
                          <div class="mediaoverlay">
                           <p>WeAreWearables <br> Interview  
                          <span class="glyphicon glyphicon-new-window"></span></p>
                        </div>
                        </div>

                      </a>
                  </li>
                  <div class="clearfix visible-xs-block"></div>
              </ul>            
            </div>
         
             <div class=" clearfix visible-xs-block"></div>
        </div>
        </div>
</section>


<section id="partner" >
 <div class="row"> 
  <div class="col-sm-4 col-sm-offset-4 main-title" >
    <h4 class="wearhacks-header">Our Partners</h4>
  </div> 
  </div>
  <div class="container">

  <div class="row"> <div class="col-sm-10 col-sm-offset-1"><%= include partials/sponsors.ejs %></div> 
  </div>
  <div class="col-sm-4 col-sm-offset-4 main-title" >
    <h4 class="wearhacks-header">Our Global Partners</h4>
  </div> 
  <div class="row"> <div class="col-sm-10 col-sm-offset-1"><%= include partials/globalpartners.ejs %></div> 
  </div>  
  </div>
</section>



  <section id="contact">
      <div class="row">

     <div class="col-sm-6 col-sm-offset-3">
            
              <div class=" signup-form">
              <!--<p>Be the first to know all about WearHacks’ next events and get exclusive discounts</p>-->
                <form id="newsletterform" method="post" action="/s">
                  <div class="clearfix">
                    
                    <input type="text" class="form-control" name="email" placeholder="Enter your email">
                    <button type="submit" class="btn btn-wearhacks">Sign Up</button>
                  </div>
                </form>
              </div>

       </div>
       <div class="clearfix"></div>
          <h1 class="logo"><a href="" class="logo-link"></a></h1>
          <div class="col-sm-4 col-sm-offset-4 ">
            <p><strong>Get in touch!</strong></p>
           <p>Sponsorship: <a href="mailto:sponsor@wearhacks.com">sponsor@wearhacks.com</a></p>
            <p>Media Enquiries: <a href="mailto:gisele@wearhacks.com">gisele@wearhacks.com</a></p> 
            <p>General Enquiries: <a href="mailto:info@wearhacks.com">info@wearhacks.com</a></p>
            
          </div>
         
        </div>

  </section>
<footer  class="footer-7">
    <div  class="container">
        <div class="row col-sm-4 col-sm-offset-4">
          <ul class="social">
          <li><a class=" fui-facebook" href="http://facebook.com/wearhacks"></a></li>
          <li><a class=" fui-twitter" href="http://twitter.com/wearhacks"></a></li>
          <li><a class=" fui-linkedin" href="https://ca.linkedin.com/company/wearhacks"></a></li>
        </ul>
        </div>
        <div class="clearfix"></div>
        <div class="row  col-sm-4 col-sm-offset-4">
          <a href="#home">
        <div class=" scroll-top">
            
            
               <span class=" fui-arrow-up"> </span>
          </div>
        </a>
          
        </div>
       
          
             
    </div>
</footer>            <!-- Placed at the end of the document so the pages load faster -->

            <%= include analytics.ejs %>
            <script src="startup/common-files/js/jquery-1.10.2.min.js"></script>
            <script src="startup/common-files/js/jquery.bxslider.min.js"></script>
            <script src="startup/common-files/js/jquery.scrollTo-1.4.3.1-min.js"></script>
            <script src="startup/common-files/js/jquery.sharrre.min.js"></script>
            <script src="startup/flat-ui/js/bootstrap.min.js"></script>
            <script src="startup/common-files/js/masonry.pkgd.min.js"></script>
            <script src="startup/common-files/js/modernizr.custom.js"></script>
            <script src="startup/common-files/js/page-transitions.js"></script>
            <script src="startup/common-files/js/easing.min.js"></script>
            <script src="startup/common-files/js/jquery.svg.js"></script>
            <script src="startup/common-files/js/jquery.svganim.js"></script>
            <script src="startup/common-files/js/jquery.backgroundvideo.min.js"></script>
            <script src="startup/common-files/js/jquery.bxslider.min.js"></script>
            <script src="startup/common-files/js/froogaloop.min.js"></script>
            <script src="startup/common-files/js/startup-kit.js"></script>
            <script src="startup/common-files/js/stellar.js"></script>
            <script src="js/custom.js"></script>

<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>


       
</div>

<!--Modal Interview-->

<div class="modal fade interviewmodal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
         
      <!--<%= include partials/cbcvideo.ejs %>-->
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal fault -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog customModal">
    <div class="modal-content">
      <div class="modal-header">
        <span class="fui-cross"></span>
        <h6 class="modal-title" id="myModalLabel">Please enter a valid email!</h6>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-lg btn-danger"  data-dismiss="modal">Oops, my bad!</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal success -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog customModal">
    <div class="modal-content">
      <div class="modal-header">
        <span class="fui-check"></span>
        <h6 class="modal-title" id="myModalLabel"></h6>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-lg btn-primary"  data-dismiss="modal">Oops, my bad!</button>
      </div>
    </div>
  </div>
</div>
    </body>
</html>
